<div id="todos"></div>

<hr>

<p>Sort by:
  <a href="javascript: ListView.doSort('priority')">priority</a> -
  <a href="javascript: ListView.doSort('due_date')">due date</a>.</p>

<div id="todo_form">
  <%= render 'form', todo: Todo.new %>
</div>

<script>
  $(function(){
    window.TODOS.fetch();
  })
</script>
