<div id="todos"></div>

<hr>

<p>Sort by: priority - due date.</p>

<div id="todo_form">
  <%= render 'form', todo: Todo.new %>
</div>

<script>
  $(function(){
    window.TODOS.fetch();
  })
</script>
